body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAVBAR SECTION CSS START HERE */

.nav_bar_css{
  background-color: white;
  box-shadow:  0 1px 8px 0px rgb(72, 70, 70);
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  overflow: hidden;
}
#login_sec{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 10px;

}
.imput_right_btn{
  margin-left: 10px;
  background-color: #76ba5c;
  padding: 6px 10px;
  font-weight: bolder;
  border-radius: 4px;
  border: 2px solid #76ba5c;
  color: white;
}
.form_sec{
  display: flex;
}
.form_sec input{
  background: #fafafa;
    border: 1px solid #eee;
    color: #5e5e5e;
    font-family: arial,sans-serif;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    margin: 0;
    height: 38px;
    border-radius: 10px 0 0 10px;
}


.form_sec .submit_btn{
  background: #76ba5c;
  border-bottom: 1px solid #76ba5c;
  border-right: 1px solid #76ba5c;
  border-top: 1px solid #76ba5c;
  color: #f8f8f8!important;
  font-family: inherit;
  font-size: 17px;
  padding: 8px 10px;
  text-align: center;
  width: 45px;
  height: 38px;
  border-radius: 0 10px 10px 0;
}


@media (max-width: 802px){
  .form_sec{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .nav_bar_css{
    flex-direction: column;
    height: auto;
    justify-content: center;
    align-items: center;
  }
  #login_sec{
    display: block;
  }

}


/* NAVBAR SECTION CSS END HERE */



/* MAIN SECTION RIGHT CSS START HERE */

.Main_sec{
  /* background-color: red; */
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
}








.card_div{
  border: 0.5px solid rgb(221, 204, 204);
  padding: 20px;
  margin-bottom: 10px;
  box-shadow: 1px 0 4px #d1d1d1;
  display: flex;
  /* justify-content: space-between; */
}
.Book_image{
  max-width: 50%;
  max-height: max-content;
}
.Book_image img{

  max-width: 100%;
  max-height: 100%;
}
.Book_details{
  width: 70%;
  padding: 20px;
  text-align: left;
  padding-top: 0px!important;
}
.Book_details >#Book_title{
  margin: 0 0 5px;
    float: left;
    color: #76ba5c;
    font-size: 20px;
    min-width: 100%;
    font-weight: 550;
}
.Book_details >.Book_author{
  margin: 0 0 4px;
  float: left;
  color: #666;
  min-width: 100%;
  font-size: 17px;
  font-weight: 500;
  text-transform: capitalize;
}
#post_id{
  color: #666;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
#user_name{
  color: #76ba5c;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 16px;
}
.buttons_group button{
  background-color: #76ba5c;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  color: #FFF;
  border-radius: 4px;
  padding: 6px 10px;
  margin: 0 10px 0 0;
  text-align: center;
  outline: none;
  border: none;
}
.Book_price{
  width: 30%;
  padding: 0px 20px 20px 20px; 
}
#current_price{
  color: #76ba5c;
  margin: 0 0 25px;
  font-size: 16px;
  text-transform: capitalize;
  word-spacing: 2px;
  font-weight: 500;
}
#old_price{
  color: #999;
  margin: 0 0 25px;
  font-size: 16px;
  text-transform: capitalize;
  word-spacing: 2px;
  font-weight: 500;
  text-decoration: line-through;
}
#old_price_inr{
  color: #999;
  margin: 0 0 25px;
  font-size: 16px;
  text-transform: capitalize;
  word-spacing: 2px;
  font-weight: 500;
  padding: 0px 3px 0px 3px;
}
#publish_date{
  color:#666;
  font-size: 15px;
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 30px;
}

.main_right_sec{
  float: right;
}
/* MAIN SECTION RIGHT CSS END HERE */







/* MAIN SECTION LEFT CSS START HERE */




.find_your_collage_book{
  background-color: #F3F3F3;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}

.find_your_collage_book >#collage_title{
  color: rgb(61, 59, 59);
  font-weight: 400;
  padding: 0px;
  line-height: 1.1;
}

.find_your_collage_book >input{
  outline: none;
  box-shadow: none;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  background-color: #fff;
  border: 1px solid ;
  border-color: #ccc;
  margin-bottom: 10px;
}
.find_your_collage_book >input:focus {
  border-color: green;
}

.find_your_collage_book >#collage_dis{
  color: green;
  font-weight: 450;
  padding: 0px;
  line-height: 1.1;
  cursor: pointer;
  text-decoration: none;
}




.main_left_sec{
  height: max-content;
  overflow: hidden;
  display: block;
}


.looking_for{
  background-color: #F3F3F3;
  padding: 20px;
  text-align: left;
  margin-bottom: 20px;
}
.check_arrival{
  background-color: #F3F3F3;
  padding: 12px 12px 8px 12px;
  margin-bottom: 20px; 
}
.check_arrival #check_arrivels_title {
  text-align: center;
  color: #76ba5c;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  cursor: pointer;
}
.check_arrival #check_arrivels_title a{
  color: #76ba5c;
  text-decoration: none;
}
.looking_for label{
  color: #666;
  padding-left: 5px;
  cursor: pointer;
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
.looking_for input{
  cursor: pointer;
}
/* MAIN SECTION LEFT CSS END HERE */





/* MAIN SECTION MEDIA CSS START HERE */

@media (max-width: 1200px){
  .main_left_sec{
    display: none;
  }
  .main_right_sec{
    float: left;
  }
  .Main_sec{
    padding-left: 0;
    padding-right: 0;
  }
  .buttons_group button{
    margin-bottom: 10px;
  }

}

@media (max-width:350px){

  .Book_details{
    width: 100%;
  }
  .Book_price{
    width: 100%;
  }
  .card_div{
    flex-direction: column!important;
    padding: 10px;
    width: 100%;
  }

  }


/* MAIN SECTION MEDIA CSS END HERE */





/* FOOTER SECTION MEDIA CSS START HERE */

.Main_Footer_Div{
  width: 100%;
  background-color: #3f3f40;
  display: flex;
  justify-content: start;
  padding: 20px 150px 20px 150px;
}
.Main_Footer_Div  li {
  text-decoration: none;
  list-style-type: none;
}
.Main_Footer_Div  li a{
  color:#908F8F;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.Main_Footer_Div  li a:hover{
  color:#76ba5c;
  transition: 0.3s;
}

.old_book_main_div{
  padding: 10px;
  /* background-color: red; */
}
.main_title_footers{
font-size: 18px;
color: #fff;
font-weight: 500;
}
.title_underline{
  width: 55%;
  margin: 10px 0 20px;
  border: 2px solid #76ba5c;
}



.old-book-in-popular-city{
  display: flex;
  padding-top: 0!important;
}
.old-book-in-popular-city>.city1,.city2{
  padding: 0px 20px 20px 20px;
}
.quick-link{
  padding: 0px 60px 20px 20px;
  text-align: left;
}
.underthrough_line{
  width: 100%;
  background: #76ba5c;
  padding: 3px;
}
.copyright_div{
  display: flex;
  justify-content: space-between;
  text-align: center;
  background: #211E1E;
  align-items: center;
}
.copyright_txt{
  padding: 5px;
  width: 50%;
  text-align: center;
  color: #908F8F;
    font-weight: 500;
    font-size: 14px;
}

.copyright_txt a{
  text-decoration: none;
}
.copyright_icons{
  width: 50%;
  padding: 5px;
}

.copyright_icons .fa {
  padding: 16px;
  font-size: 17px;
  width: 53px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.copyright_icons .fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.copyright_icons .fa-facebook {
  background: #3B5998;
  color: white;
}

.copyright_icons .fa-twitter {
  background: #55ACEE;
  color: white;
}

.copyright_icons .fa-google {
  background: #dd4b39;
  color: white;
}

@media (max-width: 900px){
  .Main_Footer_Div{
    flex-direction: column;
    /* align-items: flex-start; */
  }
  .keep-connected{
    margin-left: 17px;
  }
}
@media (max-width: 600px){
  .Main_Footer_Div{
    padding: 20px 90px 20px 90px;
  }
}

@media (max-width: 400px){
  .Main_Footer_Div{
    padding: 20px 20px 20px 20px;
  }
}
@media (max-width: 300px){
  .Main_Footer_Div{
    padding: 0px;
  }
  .old-book-in-popular-city{
    flex-direction: column;
    align-items: center;
  }
}
/* FOOTER SECTION MEDIA CSS END HERE */





/* NEW BOOK SECTION MEDIA CSS START HERE */

.newbook_details_main{
  width: 100%;
  background-color: #f3f3f3;
  padding: 20px 150px 20px 150px;
  /* display: flex; */
}
.Newbook1sthalf{
  display: flex;
}


.newbook_photo_div{
  max-width: 20%;
  height: 70%;
  background-color: white;
  margin: 10px;
  padding: 10px;
}
.newbook_photo_div_contant{
  border: 1px solid black;
  padding: 10px;
  max-width: 100%;
  max-height: 70%;
}
.newbook_dis_div{
  width: 60%;
  height: 70%;
  background-color: transparent ;
  margin: 10px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.newbook_dis_div > .newbook_dis_div_contant{
  padding: 0px;
  /* margin-bottom: 20px; */
  background-color: white;
}
.newbook_ac{
  font-weight: 500;
  font-size: 18px;
  color: #76ba5c;
}
.newbook_th{
  color: #666;
  font-size: 15px;
  padding-left: 3px;
  letter-spacing: 1px;
  text-decoration: line-through;
}
.newbook_dis_div > .newbook_dis_div_contant > #newbook_name{
  padding: 15px;
  width: 100%;
  float: left;
  margin: 0;
  color: #76ba5c;
  font-weight: 400;
  font-size: 3rem;
  border-bottom: 2px solid #76ba5c;
}

.newbook_dis_div > .newbook_dis_div_contant > .newbook_condition{
  border-bottom: 2px solid #76ba5c;
  width: 100%;
  padding: 0 15px 10px;
  float: left;
  list-style: none;
  margin: 0;
}
.newbook_dis_div > .newbook_dis_div_contant > .newbook_condition >li{
  width: 50%;
  float: left;
  font-size: 16px;
}
.newbook_post_date{
  padding: 10px;
  text-transform: capitalize;
  text-align: left;
}
.newbook_post_date span{
  font-size: 13px;
  word-spacing: 1px;
  letter-spacing: 1px;
}
.newbook_post_date>p{
  font-size: 18px;
  font-weight: 500;
  padding: 3px 3px 3px 0px;
  letter-spacing: 1px;
  word-spacing: 2px;
}
.newbook_button{
  padding: 10px;
}
.newbook_button button{
  width: 100%;
  float: left;
  text-align: center;
  background-color: #76ba5c;
  padding: 10px;
  border: none;
  border-radius: 4px;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;

}
.newbook_brn_grp{
  background-color: white;
  margin-bottom: 20px;
}


.newbook_social_icon{
  background-color: white;
  text-align: center;
  width: 100%;
  padding: 10px;
}
.newbook_social_icon a{
  font-size: 37px;
  color: #999;
  margin: 5px;
}
.newbook_social_icon a:hover{
  color: #76ba5c;
  transition: 0.2;
}
.user_dis_div{
  width: 30%;
  background-color: white;
  height: 70%;
  margin: 10px;
  padding: 15px;
  text-align: center;
}
.newbook_author{
  margin-top: 40px;
  max-width: 70%;
  max-height: 70%;
  margin-left: auto;
  margin-right: auto;
}
 .newbook_author #newbook_author_img{
  padding: 5px;
  border: 1px solid black;
  border-radius: 50%;
  overflow: hidden;
  /* margin-left: 35px; */
}
.user_dis_div > #newbook_authoe_name{
  margin-top: 10px;
  padding: 10px 10px 2px 10px;
  color: #76ba5c;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
}
.user_dis_div >button{
  text-transform: capitalize;
  width: 180px;
    margin: 20px auto 40px auto;
    text-align: center;
    background-color: #76ba5c;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
}
 .Note_from_Author{
  width:100%;
  text-align: left;
  padding: 10px;
  background-color: white;
  margin-top: 10px;
}
 .Note_from_Author >#Note_author_name{
  text-transform: capitalize;
  font-size: 2.7rem;
  font-weight: 450;
}
.Note_from_Author >#Note_author_name>a{
  color: #76ba5c;
}





@media (max-width: 1150px){
  .newbook_details_main{
    padding: 20px;
  }

}
@media (max-width: 820px){
  .Newbook1sthalf{
    flex-direction: column;
    align-items: center;
  }
  .newbook_photo_div{
    max-width: 100%;
    max-height: 70%;
  }
  .newbook_dis_div{
    width: 100%;
    margin: 0;
  }
  .user_dis_div{
    width: 100%;
    margin: 0;
  }

}
/* NEW BOOK SECTION MEDIA CSS END HERE */


#pagination_two_button{
  display: none!important;
}

.Main_slider_title{
  width: 100%;
  background-color: white;
  margin-top: 20px;
}
.Main_slider_title p{
  padding: 10px 10px 0px 10px!important;
  margin: 0!important;
 font-size: 20px;
 font-weight: 500;

}

.recent_book_card_div{
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.recent_book_card_div_contant{
  text-align: left;
  margin-left: 30px;
}
.recent_book_card_div_contant_img{
  margin-right: auto;
  margin-left: auto;
}

.recent_book_card_div_contant_img img{
  cursor: pointer;
  width: 100%;
  height: auto;
}
